### 1. 데이터 불러오기

In [1]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point, Polygon, LineString

In [9]:
car = pd.read_csv("C:/Users/Kim Won Gyeung/Desktop/공모전/2021 빅데이터 분석 및 아이디어 공모전/2.사용_데이터(정제데이터)/1.QGIS에 사용할 데이터(gid 가능데이터)/2.차량등록현황.csv")
geome = gpd.read_file("C:/Users/Kim Won Gyeung/Desktop/공모전/2021 빅데이터 분석 및 아이디어 공모전/2.사용_데이터(정제데이터)/1.QGIS에 사용할 데이터(gid 가능데이터)/1.대전광역시_건물연면적_격자.geojson")

In [17]:
geome

            gid       val                                           geometry
0      다바866110    146.59  MULTIPOLYGON (((127.35076 36.29622, 127.35076 ...
1      다바823157   5944.98  MULTIPOLYGON (((127.30277 36.33853, 127.30276 ...
2      다바928260   1487.49  MULTIPOLYGON (((127.41967 36.43152, 127.41967 ...
3      다바931203   1291.19  MULTIPOLYGON (((127.42307 36.38013, 127.42307 ...
4      다바836109  12875.52  MULTIPOLYGON (((127.31735 36.29527, 127.31735 ...
...         ...       ...                                                ...
54907  다바861065       NaN  MULTIPOLYGON (((127.34527 36.25565, 127.34527 ...
54908  다바912036       NaN  MULTIPOLYGON (((127.40208 36.22956, 127.40207 ...
54909  다바867189       NaN  MULTIPOLYGON (((127.35174 36.36745, 127.35174 ...
54910  다바851062       NaN  MULTIPOLYGON (((127.33415 36.25293, 127.33415 ...
54911  다바924104       NaN  MULTIPOLYGON (((127.41536 36.29088, 127.41536 ...

[54912 rows x 3 columns]

### 2. gid 별 geometry를 car에 붙이기

In [13]:
car_geometry = car.merge(geome,how="inner",on='gid')

In [19]:
car_geometry = car_geometry.drop(['val'],axis=1)

In [20]:
car_geometry

            gid  cars_cnt                                           geometry
0      다마846996         0  MULTIPOLYGON (((127.32871 36.19342, 127.32871 ...
1      다마847995         0  MULTIPOLYGON (((127.32983 36.19252, 127.32982 ...
2      다마847996         0  MULTIPOLYGON (((127.32982 36.19342, 127.32982 ...
3      다마847997         0  MULTIPOLYGON (((127.32982 36.19432, 127.32982 ...
4      다마847998         0  MULTIPOLYGON (((127.32982 36.19522, 127.32982 ...
...         ...       ...                                                ...
54907  라바052223         0  MULTIPOLYGON (((127.55799 36.39818, 127.55799 ...
54908  라바052224         0  MULTIPOLYGON (((127.55799 36.39908, 127.55799 ...
54909  라바053222         0  MULTIPOLYGON (((127.55910 36.39727, 127.55910 ...
54910  라바053223         0  MULTIPOLYGON (((127.55910 36.39818, 127.55910 ...
54911  라바053224         0  MULTIPOLYGON (((127.55910 36.39908, 127.55911 ...

[54912 rows x 3 columns]

### 2. geojson으로 변환

In [22]:
car_geometry = gpd.GeoDataFrame(car_geometry)
car_geometry.to_file('C:/Users/Kim Won Gyeung/Desktop/공모전/2021 빅데이터 분석 및 아이디어 공모전/2.사용_데이터(정제데이터)/1.QGIS에 사용할 데이터(gid 가능데이터)/1.대전_격자별_차량등록현황.geojson', driver='GeoJSON')